/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fundo da página */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

/* Título Agenda */
.titulo {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/* Container branco */
.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Inputs */
input[type="text"],
input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Botão */
button {
    padding: 10px;
    background-color: #667eea;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5a67d8;
}

/* Tarefa exibida */
p {
    margin-top: 20px;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    font-size: 14px;
}
